@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

.swal2-styled.swal2-default-outline:focus {
    box-shadow: none;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none;
}

.swal2-styled.swal2-confirm {
    background-color: #4338CA;
}